//Contrast test
$colour2: #5ED6DE;
$colour3: #1E1E1E;
$colour1:#22435c;
$colour4: #e6e6e6;
$colour5: #ff5815;

// Footer Colours 
$footersides: desaturate($colour2, 20%);
$footermiddle: $colour3;
$footer-text: lighten($colour2, 10%);
// Colours for the background gradient magic 
$background: lighten($colour2, 20%);
$backgroundlighten: darken($colour2, 10%);
// Colour derivations  
$link-colour: darken($colour3, 20%);
$header-shadow: darken($colour2, 30%);
$heading-shadow: darken($colour5,30%);
/** Semi-reset stuff */

html,
body {
  height: auto;
  min-height: 100%;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,{
font-family: 'Gloria Hallelujah', cursive;
  /*font for the headers */
}


a,button{
font-family: 'Gloria Hallelujah', cursive;
  /*font for the headers */
}

aside h4{
  margin:0;
}
/* Original css below sourced for educational purposes: http://lea.verou.me/css3patterns/#weave (Note- modified to make more dense, change colours and pattern slightly) */


/* Body background, page font set here. Also some flex box :(*/

body {
  color: $colour1;
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(315deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -webkit-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -webkit-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -webkit-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -o-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -o-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background-color: $background;
  background-size: 32px 64px;
  background-position: 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 800px;
}

/*setting main min height, colour, a box shadow*/
main {
  background-color: $colour4;
  //background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,$colour4 5%,$colour4 95%,rgba(0,0,0,0) 100%);
  min-height: 83vh;
  /* Website should be fully reponsive below 800px, but assignment spec */
  min-width: 800px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

a {
  color: $link-colour;
/*  font-family: 'Gloria Hallelujah', cursive;
*/  font-weight: 500;
}
/* font of content */


/* Header Stuff Here */
header {
  background-color: $colour3;
  z-index: 2;
  min-height: 7vh;
  padding-bottom: 20px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

  header div,
  header div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  /* Flex box for the header area */
  header,
  header> div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* Header area font set up */
  header h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: $colour2;
    text-shadow: $header-shadow 0px 1px 0px, $header-shadow 0px 2px 0px;
  }
  
  /* setting size min and max */ 
  header #header-logo {
    max-height: 100px;
    min-height: 7vh;
    width: auto;
    margin-right: 10px;
  }
  /* creating a flex box for bav div */
  header div nav {
    /* Wow a flexbox */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  header div nav ul {
    /* Removes the list disks */
   list-style-type: none;
    /*another flexbox */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Sets the flexbox to a LTR horizontal box */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  
  header div nav ul li {
    /* Same as above */
    margin-left: 0;
  }
  
  header div nav ul li a {
    /* Set the font and background styliong */
    font-weight:700;
    color: $colour2;
    background-color: $colour3;
    /* Some cool button padding */
    padding: 20px 18px;
    /* Remove underlines*/
    text-decoration: none;
  font-family: 'Gloria Hallelujah', cursive;

    /* For the cool animations */
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
  }
  
  /* Fancy nav button animations - transitions to swap[ping colours and adds a box shadow */
  header div nav ul li a:hover,
  header div nav ul li a:active {
    background-color: $colour2;
    color: $colour3;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  
  /* Per Page Highlighting */

/* Sets a different button style based on the current page body id */
#home nav .menu-home a {
  background-color: $colour2;
  color: $colour3;
}

#contact nav .menu-contact a {
  background-color: $colour2;
  color: $colour3;
}

#shop nav .menu-shop a {
  background-color: $colour2;
  color: $colour3;
}

/* Box shadows only on selected ones */
#home nav .menu-home a:hover,
#home nav .menu-home a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#contact nav .menu-contact a:hover,
#contact nav .menu-contact a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#shop nav .menu-shop a:hover,
#shop nav .menu-shop a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/*** MAIN ***/

/* creating a margin for page title */
h2.pagetitle {
  margin-bottom:5px;
}
h3{
  margin:5px;
}

.left-indent{
  margin-left:20px;
}
/* creates black boxes */
aside.outer-highlight-box, div.outer-highlight-box{
  /* creates a background color */
  background-color: $colour3;
  /* sets up a shadow */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding:  0 10px;
  margin: 10px 0 auto 5px;
  /* Content won't wrap lines if content is too large - forces content to be smaller*/
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: $colour2;
  border-radius:10px;
}

/* creates blue boxes within the black box in the aside bar */
.inner-highlight-box {
  background-color: $background;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px 0;
  color: $colour3;
  border-radius:5px;
}


  .inner-highlight-box a {
    /* Original css below sourced for educational purposes: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/
  
    /* Wraps the link if they are too long to fit inside the container (had trouble with email adresses in thew sidebar)*/
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    color: $colour3;
    
  }
  

/* style for the button */
.button {
  /* Set the colours and padding */
  background-color: $colour3;
  padding: 10px;
  color: $colour2;
  margin: 5px;
  
  /* Make the cursor look like it is a button */
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border: 0px;
  height:auto;
  text-decoration: none;
  border-radius:6px;
}

/* Special button colours when the background colour is different */
.outer-highlight-box .button{
  background-color: $colour2;
  color: $colour3;
  display:block;
  
}


/** Footer ****/



/* sets up flex boxes for the footer along with backgroud colour and box shadows */
footer {
 // background-color: $footersides;
  z-index: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* Minumun 10% height - total minimum height of 100% */
  min-height: 10vh;
  width: 100%;
 // box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
 
  /* Padding for the footer */
  footer div {
    padding: 15px 15px;
  }
  
  footer ul {
  margin-left: 5px;
  }

  
#footer-wrapper {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 10px 5%;
  box-sizing: border-box;
}
  
  #footer-wrapper,
  #footer-wrapper a {
    background-color: $footermiddle;
    color: $footer-text;
  }
  
  #footer-links ul {
    list-style-position: inside;
  }

