$main-background: white;
$body-background: #cccccc;
$header-background: #327eb0;
$sidebar-background-color: #47bfff;
$footer-background: darken($body-background, 20%);

$header-hover: #47bfff;
$nav-text-color: #ffdd1d;
$nav-item-color: $header-background;
$nav-hover-color: #1f1f1f;
$link-color: #767676;
$sidebar-text-color: #fff;

$nav-margin: 0;
$num-columns: 12;
$block-padding: 15px;
$body-width: 8/12 *100%;

$drop-shadow-opacity: 0.75;
$drop-shadow-offset: 1px;
$drop-shadow-size: 0px;

//Things I used
//https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
@import "mixins";

//Reset
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

//Main body
body {
  background-color: $body-background;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
}

.drop-shadow-top {
  @include drop-shadow(0px, -$drop-shadow-offset, 5px, $drop-shadow-size, #000000, $drop-shadow-opacity)
}

.drop-shadow-top-inset {
  @include drop-shadow(inset 0px, -$drop-shadow-offset, 5px, $drop-shadow-size, #000000, $drop-shadow-opacity)
}

.drop-shadow-bottom {
  @include drop-shadow(0px, $drop-shadow-offset, 5px, $drop-shadow-size, #000000, $drop-shadow-opacity)
}

.drop-shadow-left {
  @include drop-shadow(-$drop-shadow-offset, 0px, 5px, $drop-shadow-size, #000000, $drop-shadow-opacity)
}

.drop-shadow-right {
  @include drop-shadow($drop-shadow-offset, 0px, 5px, $drop-shadow-size, #000000, $drop-shadow-opacity)

}

.drop-shadow-left-right {
  @include drop-shadow-single( $drop-shadow-offset 0px 5px $drop-shadow-size rgba(#000000, 0.75), -$drop-shadow-offset 0px 5px $drop-shadow-size rgba(#000000, 0.75));
}

.drop-shadow-bottom-right {
  @include drop-shadow($drop-shadow-offset, $drop-shadow-offset, 5px, $drop-shadow-size, #000000, $drop-shadow-opacity)

}



@import 'nav';
@import 'responsive';
@import 'footer';
@import 'body';

