//Footer Content
footer {
  @extend %clearfix;
  background-color: $main-background;
  z-index:2;
  content: "";
  display: block;
  clear: both;
  position: relative;

}
#footer-links li a{
  list-style: none;
}
