//See http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ and https://css-tricks.com/snippets/css/clear-fix/
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100); //IE8
}

@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

//http://sass-lang.com/documentation/Sass/Script/Functions.html#rgba-instance_method
@mixin dropshadow($h-offset,$v-offset,$blur,$spread,$hex-colour,$opacity) {
  //Just a fallback
  -webkit-box-shadow: $h-offset $v-offset $blur $spread $hex-colour;
  -moz-box-shadow: $h-offset $v-offset $blur $spread $hex-colour;
  box-shadow: $h-offset $v-offset $blur $spread $hex-colour;

  //Proper opacity support
  -webkit-box-shadow: $h-offset $v-offset $blur $spread rgba($hex-colour, $opacity);
  -moz-box-shadow: $h-offset $v-offset $blur $spread rgba($hex-colour, $opacity);
  box-shadow: $h-offset $v-offset $blur $spread rgba($hex-colour, $opacity);

}