.h-panel,
footer {
  *zoom: 1;
}

.h-panel:before,
footer:before,
.h-panel:after,
footer:after {
  content: " ";
  display: table;
}

.h-panel:after,
footer:after {
  clear: both;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cccccc;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #767676;
}

.drop-shadow-top {
  -webkit-box-shadow: 0px -1px 5px 0px #000000;
  -moz-box-shadow: 0px -1px 5px 0px #000000;
  box-shadow: 0px -1px 5px 0px #000000;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-top-inset {
  -webkit-box-shadow: inset 0px -1px 5px 1px #000000;
  -moz-box-shadow: inset 0px -1px 5px 1px #000000;
  box-shadow: inset 0px -1px 5px 1px #000000;
  -webkit-box-shadow: inset 0px -1px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -1px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -1px 5px 1px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom {
  -webkit-box-shadow: 0px 1px 5px 0px #000000;
  -moz-box-shadow: 0px 1px 5px 0px #000000;
  box-shadow: 0px 1px 5px 0px #000000;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left {
  -webkit-box-shadow: -1px 0px 5px 0px #000000;
  -moz-box-shadow: -1px 0px 5px 0px #000000;
  box-shadow: -1px 0px 5px 0px #000000;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-right {
  -webkit-box-shadow: 1px 0px 5px 0px #000000;
  -moz-box-shadow: 1px 0px 5px 0px #000000;
  box-shadow: 1px 0px 5px 0px #000000;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left-right {
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom-right {
  -webkit-box-shadow: 1px 1px 5px 0px #000000;
  -moz-box-shadow: 1px 1px 5px 0px #000000;
  box-shadow: 1px 1px 5px 0px #000000;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Nav Stuff Here */

#header {
  background-color: #327eb0;
  z-index: 2;
  position: relative;
}

#header h1 {
  float: left;
}

#header nav {
  margin-top: 2%;
  color: #ffdd1d;
  float: right;
  padding-right: 2%;
}

#header nav ul {
  list-style-type: none;
  float: right;
}

#header nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 0;
}

#header nav ul li:hover {
  color: #ffdd1d;
  background-color: #1f1f1f;
  -webkit-animation: navigation-color 1s ease;
  -moz-animation: navigation-color 1s ease;
  -o-animation: navigation-color 1s ease;
  animation: navigation-color 1s ease;
  animation-name: navigation-colour;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

#header nav ul li a {
  background-color: #327eb0;
  padding: 20px 18px;
  color: #ffdd1d;
  text-decoration: none;
}

@-webkit-keyframes navigation-colour {
  from {
    background-color: #327eb0;
  }
  to {
    background-color: #1f1f1f;
  }
}

@-moz-keyframes navigation-colour {
  from {
    background-color: #327eb0;
  }
  to {
    background-color: #1f1f1f;
  }
}

@-o-keyframes navigation-colour {
  from {
    background-color: #327eb0;
  }
  to {
    background-color: #1f1f1f;
  }
}

@keyframes navigation-colour {
  from {
    background-color: #327eb0;
  }
  to {
    background-color: #1f1f1f;
  }
}

header #header-logo {
  max-height: 100px;
  max-width: 300px;
  float: left;
}

#header .nav-active {
  color: #ffe550;
}


/* Per Page Highlighting */

#home nav .menu-home a {
  background-color: #1f1f1f;
}

#contact nav .menu-contact a {
  background-color: #1f1f1f;
}

#shop nav .menu-shop a {
  background-color: #1f1f1f;
}


/* Responsive design and layout stuff */

.side-padding {
  margin-left: 15px;
  margin-right: 15px;
}



@media only screen and (min-width: 768px) {
  .column-1 {
    float: left;
    padding: 15px;
    width: 8.33333%;
  }
  .column-2 {
    float: left;
    padding: 15px;
    width: 16.66667%;
  }
  .column-3 {
    float: left;
    padding: 15px;
    width: 25%;
  }
  .column-4 {
    float: left;
    padding: 15px;
    width: 33.33333%;
  }
  .column-5 {
    float: left;
    padding: 15px;
    width: 41.66667%;
  }
  .column-6 {
    float: left;
    padding: 15px;
    width: 50%;
  }
  .column-7 {
    float: left;
    padding: 15px;
    width: 58.33333%;
  }
  .column-8 {
    float: left;
    padding: 15px;
    width: 66.66667%;
  }
  .column-9 {
    float: left;
    padding: 15px;
    width: 75%;
  }
  .column-10 {
    float: left;
    padding: 15px;
    width: 83.33333%;
  }
  .column-11 {
    float: left;
    padding: 15px;
    width: 91.66667%;
  }
  .column-12 {
    float: left;
    padding: 15px;
    width: 100%;
  }
  .side-padding:before {
    position: relative;
  }
  .side-padding {
    margin: 0 auto;
    max-width: 1200px;
  }
  nav {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1600px) {
  nav {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 500px){
  .shop-entry{
    width:100%;
  }
}

#content-wrapper {
  background-color: white;
  height: 100%;
  float: left;
  max-width: 1200px;
  z-index: 1;
  margin: 0 auto;
}

.relative {
  position: relative;
}

footer {
  background-color: #999999;
  z-index: 2;
  content: "";
  display: block;
  clear: both;
  position: relative;
}

#footer-links li a {
  list-style: none;
}

#sidebar-content {
  background-color: #47bfff;
  color: #fff;
}

.layout-border{
  border:2px solid red;
}