$main-background: white;
$body-background: #cccccc;
$header-background: slategrey;
$header-hover: lightslategrey;
$nav-text-color: white;
$nav-item-color: $header-background;
$nav-hover-color: #121212;
$nav-margin: 0;
$link-color: #767676;

$num-columns: 12;
$block-padding: 15px;
$body-width: 8/12 *100%;

$drop-shadowopacity: 0.75;
$drop-shadow-offset: 5px;
$drop-shadow-size:2px;
@import "mixins";
@import 'nav';
@import 'responsive';
@import 'footer';

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

//Main body
body {
  background-color: $body-background;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
}

.drop-shadow-top {
  @include dropshadow(0px, $drop-shadow-offset, 5px, $drop-shadow-size, #000000, $drop-shadowopacity)
}

.drop-shadow-bottom {
  @include dropshadow(0px, -$drop-shadow-offset, 5px, $drop-shadow-size, #000000, $drop-shadowopacity)

}

.drop-shadow-left {
  @include dropshadow(-$drop-shadow-offset, 0px, 5px, $drop-shadow-size, #000000, $drop-shadowopacity)

}

.drop-shadow-right {
  @include dropshadow($drop-shadow-offset, 0px, 5px, $drop-shadow-size, #000000, $drop-shadowopacity)

}
.drop-shadow-left-right{
  box-shadow: 6px 0px 5px -5px rgba(#000000,0.75), -6px 0px 5px -5px rgba(#000000,0.75);


}
.drop-shadow-bottom-right {
  @include dropshadow($drop-shadow-offset, $drop-shadow-offset, 5px, $drop-shadow-size, #000000, $drop-shadowopacity)

}