$main-background: white;
$body-background: #cccccc;
$header-background: slategrey;
$header-hover: lightslategrey;
$nav-text-color: white;
$nav-item-color: $header-background;
$nav-hover-color: #121212;
$nav-margin: 0;
$link-color: #767676;

$num-columns: 12;
$block-padding: 15px;
$body-width: 8/12 *100%;
@import "mixins";
@import 'nav';
@import 'responsive';
@import 'footer';

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

//Main body
body {
  background-color: $body-background;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
}


