/*Colour reference
https://coolors.co/50514f-8ea604-ffc53a-d2cca1-79B473
Page Background: #50514F;
Links and Header-Hover: #AA5042;
Header and Sidebar: #FFC53A
Body Background: #D2CCA1
Honestly IDK: #5B8C5A

*/

.h-panel,
footer {
  *zoom: 1;
}

.h-panel:before,
footer:before,
.h-panel:after,
footer:after {
  content: " ";
  display: table;
}

.h-panel:after,
footer:after {
  clear: both;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}


/* http://lea.verou.me/css3patterns/#weave (Note- modified to make more dense)*/

body {
  color: #50514F;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px), linear-gradient(225deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px)0 32px;
  background: -moz-linear-gradient(135deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px), -moz-linear-gradient(225deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px)0 32px;
  background: -webkit-linear-gradient(135deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px), -webkit-linear-gradient(225deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px)0 32px;
  background: -ms-linear-gradient(135deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px), -ms-linear-gradient(225deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px)0 32px;
  background: -o-linear-gradient(135deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px), -o-linear-gradient(225deg, #50514F 11px, #FFC53A 11px, #FFC53A 12px, transparent 12px, transparent 33.5px, #FFC53A 33.5px, #FFC53A 34px, transparent 34px)0 32px;
  background-color: #50514F;
  background-size: 32px 64px
}

* {
  box-sizing: border-box;
}

a {
  color: #AA5042;
}

.drop-shadow-top {
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-top-inset {
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left {
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom-right {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Nav Stuff Here */

#header {
  background-color: #FFC53A;
  z-index: 2;
  position: relative;
}

#header h1 {
  float: left;
}

#header nav {
  margin-top: 2%;
  color: #AA5042;
  float: right;
  padding-right: 2%;
}

#header nav ul {
  list-style-type: none;
  float: right;
}

#header nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 0;
}

#header nav ul li a:hover {
  background-color: #AA5042;
  color: #FFC53A;
  -webkit-animation: navigation-color 1s ease;
  -moz-animation: navigation-color 1s ease;
  -o-animation: navigation-color 1s ease;
  animation: navigation-color 1s ease;
  animation-name: navigation-colour;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#header nav ul li a {
  background-color: #FFC53A;
  padding: 20px 18px;
  text-decoration: none;
}

@-webkit-keyframes navigation-colour {
  from {
    color: #AA5042;
    background-color: #FFC53A;
  }
  to {
    background-color: #AA5042;
    color: #FFC53A;
  }
}

@-moz-keyframes navigation-colour {
  from {
    color: #AA5042;
    background-color: #FFC53A;
  }
  to {
    background-color: #AA5042;
    color: #FFC53A;
  }
}

@-o-keyframes navigation-colour {
  from {
    color: #AA5042;
    background-color: #FFC53A;
  }
  to {
    background-color: #AA5042;
    color: #FFC53A;
  }
}

@keyframes navigation-colour {
  from {
    color: #AA5042;
    background-color: #FFC53A;
  }
  to {
    background-color: #AA5042;
    color: #FFC53A;
  }
}

header #header-logo {
  max-height: 100px;
  max-width: 300px;
  float: left;
}

#header .nav-active {
  color: #ffe550;
}


/* Per Page Highlighting */

#home nav .menu-home a {
  background-color: #AA5042;
  color: #FFC53A;
}

#contact nav .menu-contact a {
  background-color: #AA5042;
  color: #FFC53A;
}

#shop nav .menu-shop a {
  background-color: #AA5042;
  color: #FFC53A;
}

#home nav .menu-home a:hover {
  animation: dropshadow;
}

#contact nav .menu-contact a:hover {
  animation: none;
}

#shop nav .menu-shop a:hover {
  animation: none;
}


/* Responsive design and layout stuff */

.side-padding {
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (min-width: 768px) {
  .column-1 {
    float: left;
    padding: 15px;
    width: 8.33333%;
  }
  .column-2 {
    float: left;
    padding: 15px;
    width: 16.66667%;
  }
  .column-3 {
    float: left;
    padding: 15px;
    width: 25%;
  }
  .column-4 {
    float: left;
    padding: 15px;
    width: 33.33333%;
  }
  .column-5 {
    float: left;
    padding: 15px;
    width: 41.66667%;
  }
  .column-6 {
    float: left;
    padding: 15px;
    width: 50%;
  }
  .column-7 {
    float: left;
    padding: 15px;
    width: 58.33333%;
  }
  .column-8 {
    float: left;
    padding: 15px;
    width: 66.66667%;
  }
  .column-9 {
    float: left;
    padding: 15px;
    width: 75%;
  }
  .column-10 {
    float: left;
    padding: 15px;
    width: 83.33333%;
  }
  .column-11 {
    float: left;
    padding: 15px;
    width: 91.66667%;
  }
  .column-12 {
    float: left;
    padding: 15px;
    width: 100%;
  }
  .side-padding:before {
    position: relative;
  }
  .side-padding {
    margin: 0 auto;
    max-width: 1200px;
  }
  nav {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1600px) {
  nav {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 500px) {
  .shop-entry {
    width: 100%;
  }
}

#content-wrapper {
  background-color: #D2CCA1;
  height: 100%;
  float: left;
  max-width: 1200px;
  z-index: 1;
  margin: 0 auto;
}

.relative {
  position: relative;
}

footer {
  background-color: #50514F;
  z-index: 2;
  content: "";
  display: block;
  clear: both;
  position: relative;
}

#footer-wrapper {
  background-color: #999475;
}

#footer-links li a {
  list-style: none;
}

#sidebar-content {
  background-color: #FFC53A;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.layout-border {
  border: 2px solid red;
}