/*Colour reference
https://coolors.co/50514f-aa5042-ffc53a-B4B8AB-0B0A07
TextColour: #50514F;
Links and Header-Hover: #AA5042;
Header and Sidebar: #FFC53A
Body Background: #B4B8AB
Highlights: #0B0A07

*/


/*
$colour1 : #50514F;
$colour2 : #AA5042;
$colour3 : #FFC53A;
$colour4 : #B4B8AB;
$colour5: #0B0A07;

https://coolors.co/b9d6f2-061a40-0353a4-006daa-003559
*/


/*
$colour1 : #0C0C0C; //TextColour
$colour2 : #BA5A31; //Links
$colour3 : #E59F71; //Header
$colour4 : #FFFFFF; //Body
$colour5: #69DC9E;  //Highlight
*/


/* Coolors Exported Palette - coolors.co/998650-75b09c-d8f793-a0ca92-e0be36

$color1: hsla(44%, 31%, 46%, 1);
$color2: hsla(160%, 27%, 57%, 1);
$color3: hsla(79%, 86%, 77%, 1);
$color4: hsla(105%, 35%, 68%, 1);
$color5: hsla(48%, 73%, 55%, 1);
*/


/* Coolors Exported Palette - coolors.co/eaebed-006989-a3bac3-007090-01a7c2

$color1: hsla(220%, 8%, 92%, 1);
$color2: hsla(194%, 100%, 27%, 1);
$color3: hsla(197%, 21%, 70%, 1);
$color4: hsla(193%, 100%, 28%, 1);
$color5: hsla(188%, 99%, 38%, 1);
*/


/* Coolors Exported Palette - coolors.co/4b4237-d68420-ede4da-a39b92-72695f

$color1: hsla(33%, 15%, 25%, 1);
$color2: hsla(33%, 74%, 48%, 1);
$color3: hsla(32%, 35%, 89%, 1);
$color4: hsla(32%, 8%, 61%, 1);
$color5: hsla(32%, 9%, 41%, 1);
*/


/* Coolors Exported Palette - coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63
$color1: hsla(0%, 0%, 21%, 1);
$color2: hsla(183%, 31%, 34%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(0%, 0%, 85%, 1);
$color5: hsla(204%, 42%, 27%, 1);
*/


/* Coolors Exported Palette - coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354 Good one
$color1: hsla(229%, 19%, 22%, 1);
$color2: hsla(218%, 19%, 38%, 1);
$color3: hsla(180%, 1%, 75%, 1);
$color4: hsla(0%, 0%, 100%, 1);

$color5$footersides: darken($colour2,10%);
$footermiddle:lighten($colour2,10%);: hsla(18%, 83%, 63%, 1);

*/


/* Coolors Exported Palette - coolors.co/1d1a05-fffbbd-ca3c25-e6aa68-7fb069

$color1: hsla(53%, 71%, 7%, 1);
$color2: hsla(56%, 100%, 87%, 1);
$color3: hsla(8%, 69%, 47%, 1);
$color4: hsla(31%, 72%, 65%, 1);
$color5: hsla(101%, 31%, 55%, 1);

$footersides: darken($color2,20%);
$footermiddle:desaturate($color2,30%);

*/


/* Coolors Exported Palette - coolors.co/33658a-4BB2EA-2f4858-f6ae2d-F27532 */


/* HSL */

$color1: hsla(206%, 46%, 37%, 1);
$color2: #4BB2EA;
$color3: hsla(203%, 30%, 26%, 1);
$color4: hsla(39%, 92%, 57%, 1);
$color5: #F27532;
$footersides: darken($color2, 10%);
$footermiddle:darken($color2, 20%);
$colour1:$color1;
$colour2:$color2;
$colour3:$color3;
$colour4:$color4;
$colour5:$color5;
$footer-text:lighten($color2, 10%);
$background:lighten($colour2, 20%);
$backgroundlighten:lighten($colour2, 70%);
$link-colour:$colour3;
html,
body {
  height: 100%;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}


/* Original css below sourced for educational purposes: http://lea.verou.me/css3patterns/#weave (Note- modified to make more dense) */

body {
  color: $colour1;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -moz-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -moz-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -webkit-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -webkit-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -ms-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -ms-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -o-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -o-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background-color: $background;
  background-size: 32px 64px;
  background-position: 16px 16px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-responsive {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
}

main {
  background-color: $colour4;
  min-height: 80%;
  max-width: 1200px;
  z-index: 1;
}

a {
  color: $link-colour;
}

.drop-shadow-top {
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-top-inset {
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left {
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom-right {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Nav Stuff Here */

header div {
  display: -webkit-flex;
  display: flex;
}

header {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  background-color: $colour3;
  z-index: 2;
  min-height: 10%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  color: $colour2;
}

header #header-logo {
  max-height: 150px;
  height: 10vh;
  width: auto;
}

header nav {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

header nav ul {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

header nav ul li {
  list-style-type: none;
  margin-left: 0;
}

header nav ul li a {
  color: $colour2;
  background-color: $colour3;
  padding: 20px 18px;
  text-decoration: none;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

header nav ul li a:hover {
  background-color: $colour2;
  color: $colour3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

header .nav-active {
  color: #ffe550;
}


/* Per Page Highlighting */

#home nav .menu-home a {
  background-color: $colour2;
  color: $colour3;
}

#contact nav .menu-contact a {
  background-color: $colour2;
  color: $colour3;
}

#shop nav .menu-shop a {
  background-color: $colour2;
  color: $colour3;
}

#home nav .menu-home a:hover {
  animation: dropshadow;
}

#contact nav .menu-contact a:hover {
  animation: none;
}

#shop nav .menu-shop a:hover {
  animation: none;
}


/* Original css below sourced for educational purposes: http://stackoverflow.com/questions/3338680/is-there-a-css-selector-by-class-prefix */

div[class^="column-"],
div[class*=" column-"] {
  padding: 15px;
  flex-shrink: 0;
}

div[class^="column-"],
div[class*=" column-"] {
  padding: 15px;
}

aside {
  display: flex;
  flex-direction: column;
}

article {
  flex-direction: column;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .column-1 {
    flex-grow: 1;
  }
  .column-2 {
    flex-grow: 2;
  }
  .column-3 {
    flex-grow: 3;
  }
  .column-4 {
    flex-grow: 4;
  }
  .column-5 {
    flex-grow: 5;
  }
  .column-6 {
    flex-grow: 6;
  }
  .column-7 {
    flex-grow: 7;
  }
  .column-8 {
    flex-grow: 8;
  }
  .column-9 {
    flex-grow: 9;
  }
  .column-10 {
    flex-grow: 10;
  }
  .column-11 {
    flex-grow: 11;
  }
  .column-12 {
    flex-grow: 12;
  }
  main {
    width: 80%;
    max-width: 1200px;
  }
  header {
    padding: 0 10%;
    box-sizing: border-box;
  }
  header nav {
    margin-left: 0px;
    flex-direction: column;
  }
  #footer-wrapper {
    width: 80%;
    max-width: 1200px;
  }
  article {
    flex-basis: 80%;
    flex-grow: 4;
    flex-direction: row;
  }
  aside {
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .flex-responsive {
    flex-direction: row;
  }
}

@media only screen and (max-width: 500px) {
  .shop-entry {
    width: 100%;
  }
}

footer {
  background-color: $footersides;
  z-index: 2;
  content: "";
  flex-direction: row;
  min-height: 10%;
  width: 100%;
}

#footer-wrapper,
#footer-wrapper a {
  background-color: $footermiddle;
  min-height: 10%;
  color: $footer-text;
}

#footer-links ul {
  list-style-position: inside;
}

footer ul {
  margin-left: 5px;
}

#sidebar-content {
  background-color: $colour3;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 10px;
}

.layout-border {
  border: 2px solid red;
}

#promo-shot {
  width: 100%;
}

h2 .pagetitle {
  padding: 15px;
}

.profile-image {
  max-height: 160px;
  border-radius: 10px;
}

.inner-highlight-box {
  background-color: $colour5;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px 0;
  color: $colour3;
}

.inner-highlight-box a {
  color: $colour3;
}

#text-404 {
  font-size: 330px;
  margin: 0;
}

#insideimage {
  background-image: url("../images/stacksofpapers.png");
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  background-color: $colour5;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid $link-colour;
  color: $link-colour;
  margin: 5px;
  cursor: pointer;
}

@import "swap";
