//Contrast test
$color2: #5ED6DE;
$color3: #1E1E1E;
$color1:#22435c;
$color4: hsla(0%, 0%, 85%, 1);

/* Cos I don't spell american */
$colour1:$color1;
$colour2:$color2;
$colour3:$color3;
$colour4:$color4;

/* Footer Colours */
$footersides: desaturate($color2, 20%);
$footermiddle: $color3;
$footer-text: lighten($color2, 10%);

/* Colours for the background gradient magic */
$background: lighten($colour2, 20%);
$backgroundlighten: darken($colour2, 10%);

/* Colour derivations  */
$link-colour: darken($colour3, 20%);
$header-shadow: darken($colour2, 30%);

/** Semi-reset stuff */
html,
body {
  height: auto;
  min-height: 100%;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}


/* Original css below sourced for educational purposes: http://lea.verou.me/css3patterns/#weave (Note- modified to make more dense, change colours and pattern slightly) */


/* Body background, page font set here. Also some flex box :(*/
body {
  color: $colour1;
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(315deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -webkit-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -webkit-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -webkit-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -o-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -o-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background-color: $background;
  background-size: 32px 64px;
  background-position: 16px 16px;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.flex-responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.flex-magicbs {
  display: block;
}

main {
  background-color: $colour4;
  min-height: 80vh;
  max-width: 1200px;
  z-index: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

a {
  color: $link-colour;
}

.drop-shadow-top {
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-top-inset {
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left {
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-left-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.drop-shadow-bottom-right {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Nav Stuff Here */

header div,
header div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  background-color: $colour3;
  z-index: 2;
  min-height: 10%;
  padding-bottom: 20px;
}

header,
header> div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  color: $colour2;
  text-shadow: $header-shadow 0px 1px 0px, $header-shadow 0px 2px 0px;
}

header #header-logo {
  max-height: 150px;
  max-height: 10vh;
  width: auto;
  margin-right: 10px;
}

header div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header div nav ul li {
  list-style-type: none;
  margin-left: 0;
}

header div nav ul li a {
  color: $colour2;
  background-color: $colour3;
  padding: 20px 18px;
  text-decoration: none;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

header div nav ul li a:hover,
header div nav ul li a:active {
  background-color: $colour2;
  color: $colour3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Per Page Highlighting */

#home nav .menu-home a {
  background-color: $colour2;
  color: $colour3;
}

#contact nav .menu-contact a {
  background-color: $colour2;
  color: $colour3;
}

#shop nav .menu-shop a {
  background-color: $colour2;
  color: $colour3;
}

#home nav .menu-home a:hover,
#home nav .menu-home a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#contact nav .menu-contact a:hover,
#contact nav .menu-contact a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#shop nav .menu-shop a:hover,
#shop nav .menu-shop a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.column-1 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-2 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-3 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-4 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-5 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-6 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-7 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-8 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-9 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-10 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-11 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.column-12 {
  padding: 5px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}


footer div {
  padding: 15px 15px;
}

footer {
  background-color: $footersides;
  z-index: 2;
  content: "";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
}

#footer-wrapper,
#footer-wrapper a {
  background-color: $footermiddle;
  color: $footer-text;
}

#footer-links ul {
  list-style-position: inside;
}

footer ul {
  margin-left: 5px;
}

aside#sidebar-content{
  background-color: $colour3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 10px;
  margin: 10px 0 auto 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color:$colour2;


}

#promo-shot {
  width: 100%;
}

h2 .pagetitle {
  padding: 15px;
}

.inner-highlight-box {
  background-color: $colour2;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px 0;
  color: $colour3;
}

.inner-highlight-box a {
/* Original css below sourced for educational purposes: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  color: $colour3;
}

#text-404 {
  font-size: 330px;
  margin: 0;
}

#insideimage {
  background-image: url("../images/stacksofpapers.png");
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  background-color: $colour3;
  padding: 10px;
  color: $colour2;
  margin: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border:0px;
}
@media only screen and (max-width: 1100px) {
aside {
  width: 100%;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

}

@media only screen and (min-width: 900px) {
  .column-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 8.33333%;
  }
  .column-2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    width: 16.66667%;
  }
  .column-3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    width: 25%;
  }
  .column-4 {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    width: 25%;
  }
  .column-5 {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    width: 25%;
  }
  .column-6 {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    width: 50%;
  }
  .column-7 {
    -webkit-box-flex: 7;
    -ms-flex: 7;
    flex: 7;
    width: 58.33333%;
  }
  .column-8 {
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
    width: 66.66667%;
  }
  .column-9 {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    width: 75%;
  }
  .column-10 {
    -webkit-box-flex: 10;
    -ms-flex: 10;
    flex: 10;
    width: 83.33333%;
  }
  .column-11 {
    -webkit-box-flex: 11;
    -ms-flex: 11;
    flex: 11;
    width: 91.66667%;
  }
  .column-12 {
    -webkit-box-flex: 12;
    -ms-flex: 12;
    flex: 12;
    width: 100%;
  }
  main,#footer-wrapper {
    width: 80%;
    /* Website should be fully replonsive below 800px, but assignment spec */
    min-width: 800px;
    max-width: 1600px;
  }
  header {
    padding: 0 10%;
    box-sizing: border-box;
  }
  #footer-wrapper {
    width: 80%;
    min-height: 10vh;
  }
  article {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  aside {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-responsive {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .flex-magicbs {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 100%;
  }
  #footer-wrapper {
    padding: 10px 5%;
    box-sizing: border-box;
  }
  .shop-item {
    min-width: 48%;
  }
}

.form-1 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
  width: 100%;
  height: 15%;
  
  
}