//Contrast test
$colour2: #5ED6DE;
$colour3: #1E1E1E;
$colour1:#22435c;
$colour4: #e6e6e6;
$colour5: #ff5815;

// Footer Colours 
$footersides: desaturate($colour2, 20%);
$footermiddle: $colour3;
$footer-text: lighten($colour2, 10%);
// Colours for the background gradient magic 
$background: lighten($colour2, 20%);
$backgroundlighten: darken($colour2, 10%);
// Colour derivations  
$link-colour: darken($colour3, 20%);
$header-shadow: darken($colour2, 30%);
$heading-shadow: darken($colour5,30%);
/** Semi-reset stuff */

html,
body {
  height: auto;
  min-height: 100%;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

article{ h1,h2,h3,h4,h5,h6{
font-family: 'Roboto', sans-serif;
  /*font for the headers */
}}
aside h4{
  margin:0;
}
/* Original css below sourced for educational purposes: http://lea.verou.me/css3patterns/#weave (Note- modified to make more dense, change colours and pattern slightly) */


/* Body background, page font set here. Also some flex box :(*/

body {
  color: $colour1;
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(315deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -webkit-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -webkit-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -webkit-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background: -o-linear-gradient(135deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px), -o-linear-gradient(225deg, $background 11px, $backgroundlighten 11px, $backgroundlighten 12px, transparent 12px, transparent 33.5px, $backgroundlighten 33.5px, $backgroundlighten 34px, transparent 34px)0 32px;
  background-color: $background;
  background-size: 32px 64px;
  background-position: 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 800px;
}

/*setting main min height, colour, a box shadow*/
main {
  background-color: $colour4;
  //background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,$colour4 5%,$colour4 95%,rgba(0,0,0,0) 100%);
  min-height: 83vh;
  /* Website should be fully reponsive below 800px, but assignment spec */
  min-width: 800px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  padding: 0 15px;
  box-sizing: border-box;
}

a {
  color: $link-colour;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


/* Header Stuff Here */
header {
  background-color: $colour3;
  z-index: 2;
  min-height: 7vh;
  padding-bottom: 20px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

header div,
header div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


header,
header> div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  color: $colour2;
  text-shadow: $header-shadow 0px 1px 0px, $header-shadow 0px 2px 0px;
}

header #header-logo {
  max-height: 100px;
  min-height: 7vh;
  width: auto;
  margin-right: 10px;
}

header div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header div nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header div nav ul li {
  list-style-type: none;
  margin-left: 0;
}

header div nav ul li a {
  font-weight:700;
  color: $colour2;
  background-color: $colour3;
  padding: 20px 18px;
  text-decoration: none;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

header div nav ul li a:hover,
header div nav ul li a:active {
  background-color: $colour2;
  color: $colour3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Per Page Highlighting */

#home nav .menu-home a {
  background-color: $colour2;
  color: $colour3;
}

#contact nav .menu-contact a {
  background-color: $colour2;
  color: $colour3;
}

#shop nav .menu-shop a {
  background-color: $colour2;
  color: $colour3;
}

#home nav .menu-home a:hover,
#home nav .menu-home a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#contact nav .menu-contact a:hover,
#contact nav .menu-contact a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#shop nav .menu-shop a:hover,
#shop nav .menu-shop a:active {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/*** MAIN ***/

h2.pagetitle {
  margin-bottom:5px;
}
h3{
  margin:5px;
}



aside.outer-highlight-box, div.outer-highlight-box{
  background-color: $colour3;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px 0 auto 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: $colour2;
}

.inner-highlight-box {
  background-color: $colour2;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px 0;
  color: $colour3;
}

.inner-highlight-box a {
  /* Original css below sourced for educational purposes: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  color: $colour3;
}



.button {
  background-color: $colour3;
  padding: 10px;
  color: $colour2;
  margin: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border: 0px;
  height:auto;
  text-decoration: none;
}

.outer-highlight-box .button{
  background-color: $colour2;
  color: $colour3;
  
}


/** Footer ****/

footer div {
  padding: 15px 15px;
}

footer {
  background-color: $footersides;
  z-index: 2;
  content: "";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

#footer-wrapper {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 10px 5%;
  box-sizing: border-box;
}

#footer-wrapper,
#footer-wrapper a {
  background-color: $footermiddle;
  color: $footer-text;
}

#footer-links ul {
  list-style-position: inside;
}

footer ul {
  margin-left: 5px;
}

