/*Colour reference
https://coolors.co/50514f-aa5042-ffc53a-B4B8AB-0B0A07
TextColour: #50514F;
Links and Header-Hover: #AA5042;
Header and Sidebar: #FFC53A
Body Background: #B4B8AB
Highlights: #0B0A07

*/
/*
$colour1 : #50514F;
$colour2 : #AA5042;
$colour3 : #FFC53A;
$colour4 : #B4B8AB;
$colour5: #0B0A07;

https://coolors.co/b9d6f2-061a40-0353a4-006daa-003559
*/
/*
$colour1 : #0C0C0C; //TextColour
$colour2 : #BA5A31; //Links
$colour3 : #E59F71; //Header
$colour4 : #FFFFFF; //Body
$colour5: #69DC9E;  //Highlight
*/
/* Coolors Exported Palette - coolors.co/998650-75b09c-d8f793-a0ca92-e0be36

$color1: hsla(44%, 31%, 46%, 1);
$color2: hsla(160%, 27%, 57%, 1);
$color3: hsla(79%, 86%, 77%, 1);
$color4: hsla(105%, 35%, 68%, 1);
$color5: hsla(48%, 73%, 55%, 1);
*/
/* Coolors Exported Palette - coolors.co/eaebed-006989-a3bac3-007090-01a7c2

$color1: hsla(220%, 8%, 92%, 1);
$color2: hsla(194%, 100%, 27%, 1);
$color3: hsla(197%, 21%, 70%, 1);
$color4: hsla(193%, 100%, 28%, 1);
$color5: hsla(188%, 99%, 38%, 1);
*/
/* Coolors Exported Palette - coolors.co/4b4237-d68420-ede4da-a39b92-72695f

$color1: hsla(33%, 15%, 25%, 1);
$color2: hsla(33%, 74%, 48%, 1);
$color3: hsla(32%, 35%, 89%, 1);
$color4: hsla(32%, 8%, 61%, 1);
$color5: hsla(32%, 9%, 41%, 1);
*/
/* Coolors Exported Palette - coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63
$color1: hsla(0%, 0%, 21%, 1);
$color2: hsla(183%, 31%, 34%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(0%, 0%, 85%, 1);
$color5: hsla(204%, 42%, 27%, 1);
*/
/* Coolors Exported Palette - coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354 Good one
$color1: hsla(229%, 19%, 22%, 1);
$color2: hsla(218%, 19%, 38%, 1);
$color3: hsla(180%, 1%, 75%, 1);
$color4: hsla(0%, 0%, 100%, 1);

$color5$footersides: darken($colour2,10%);
$footermiddle:lighten($colour2,10%);: hsla(18%, 83%, 63%, 1);

*/
/* Coolors Exported Palette - coolors.co/1d1a05-fffbbd-ca3c25-e6aa68-7fb069

$color1: hsla(53%, 71%, 7%, 1);
$color2: hsla(56%, 100%, 87%, 1);
$color3: hsla(8%, 69%, 47%, 1);
$color4: hsla(31%, 72%, 65%, 1);
$color5: hsla(101%, 31%, 55%, 1);

$footersides: darken($color2,20%);
$footermiddle:desaturate($color2,30%);

*/
/* Coolors Exported Palette - coolors.co/33658a-4BB2EA-2f4858-f6ae2d-F27532 */
/* HSL */
html, body {
  height: auto;
  min-height: 100%; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* Original css below sourced for educational purposes: http://lea.verou.me/css3patterns/#weave (Note- modified to make more dense) */
body {
  color: #33648a;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(135deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px), linear-gradient(225deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px) 0 32px;
  background: -moz-linear-gradient(135deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px), -moz-linear-gradient(225deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px) 0 32px;
  background: -webkit-linear-gradient(135deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px), -webkit-linear-gradient(225deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px) 0 32px;
  background: -ms-linear-gradient(135deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px), -ms-linear-gradient(225deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px) 0 32px;
  background: -o-linear-gradient(135deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px), -o-linear-gradient(225deg, #a6d9f5 11px, white 11px, white 12px, transparent 12px, transparent 33.5px, white 33.5px, white 34px, transparent 34px) 0 32px;
  background-color: #a6d9f5;
  background-size: 32px 64px;
  background-position: 16px 16px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column; }

.flex-row {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap; }

.flex-column {
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap; }

.flex-start {
  justify-content: flex-start;
  align-items: flex-start; }

.flex-center {
  justify-content: center;
  align-items: center; }

.flex-responsive {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start; }

.flex-magicbs {
  display: block; }

main {
  background-color: #f6b02c;
  min-height: 80vh;
  max-width: 1200px;
  z-index: 1;
  padding: 0 15px;
  box-sizing: border-box; }

a {
  color: #2e4756; }

.drop-shadow-top {
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75); }

.drop-shadow-top-inset {
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75); }

.drop-shadow-bottom {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75); }

.drop-shadow-left {
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.drop-shadow-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.drop-shadow-left-right {
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75), -1px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.drop-shadow-bottom-right {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }

/* Nav Stuff Here */
header div, header div div {
  display: -webkit-flex;
  display: flex; }

header {
  background-color: #2e4756;
  z-index: 2;
  min-height: 10%;
  padding-bottom: 20px; }

header, header > div {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

header h1 {
  font-family: 'Roboto', sans-serif;
  color: #4BB2EA; }

header #header-logo {
  max-height: 150px;
  height: 10vh;
  width: auto; }

header div nav {
  display: -webkit-flex;
  display: flex; }

header div nav ul {
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }

header div nav ul li {
  list-style-type: none;
  margin-left: 0; }

header div nav ul li a {
  color: #4BB2EA;
  background-color: #2e4756;
  padding: 20px 18px;
  text-decoration: none;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

header div nav ul li a:hover {
  background-color: #4BB2EA;
  color: #2e4756;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }

header .nav-active {
  color: #ffe550; }

/* Per Page Highlighting */
#home nav .menu-home a {
  background-color: #4BB2EA;
  color: #2e4756; }

#contact nav .menu-contact a {
  background-color: #4BB2EA;
  color: #2e4756; }

#shop nav .menu-shop a {
  background-color: #4BB2EA;
  color: #2e4756; }

#home nav .menu-home a:hover {
  animation: dropshadow; }

#contact nav .menu-contact a:hover {
  animation: none; }

#shop nav .menu-shop a:hover {
  animation: none; }

/* Original css below sourced for educational purposes: http://stackoverflow.com/questions/3338680/is-there-a-css-selector-by-class-prefix */
.column-1 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-2 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-3 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-4 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-5 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-6 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-7 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-8 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-9 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-10 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-11 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

.column-12 {
  padding: 5px;
  width: 100%;
  flex: 1;
  box-sizing: border-box; }

@media only screen and (min-width: 60em) {
  .column-1 {
    flex: 1;
    width: 8.33333%; }

  .column-2 {
    flex: 2;
    width: 16.66667%; }

  .column-3 {
    flex: 3;
    width: 25%; }

  .column-4 {
    flex: 4;
    width: 25%; }

  .column-5 {
    flex: 5;
    width: 25%; }

  .column-6 {
    flex: 6;
    width: 50%; }

  .column-7 {
    flex: 7;
    width: 58.33333%; }

  .column-8 {
    flex: 8;
    width: 66.66667%; }

  .column-9 {
    flex: 9;
    width: 75%; }

  .column-10 {
    flex: 10;
    width: 83.33333%; }

  .column-11 {
    flex: 11;
    width: 91.66667%; }

  .column-12 {
    flex: 12;
    width: 100%; }

  main {
    width: 80%;
    max-width: 1200px; }

  header {
    padding: 0 10%;
    box-sizing: border-box; }

  #footer-wrapper {
    width: 80%;
    max-width: 1200px; }

  article {
    flex-basis: 80%;
    flex-grow: 4;
    flex-direction: row; }

  aside {
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column; }

  .flex-responsive {
    flex-flow: row wrap; }

  .flex-magicbs {
    flex-flow: row wrap;
    display: flex;
    align-content: flex-start;
    width: 100%; }

  #footer-wrapper {
    padding: 0 5%;
    box-sizing: border-box; } }
footer div {
  padding: 15px 15px; }

footer {
  background-color: #1d9ee5;
  z-index: 2;
  content: "";
  flex-direction: row;
  min-height: 10%;
  width: 100%; }

#footer-wrapper,
#footer-wrapper a {
  background-color: #1680b9;
  min-height: 10%;
  color: #79c6ef; }

#footer-links ul {
  list-style-position: inside; }

footer ul {
  margin-left: 5px; }

#sidebar-content {
  background-color: #2e4756;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 10px;
  margin: 10px 0 auto 0;
  flex-wrap: nowrap; }

.layout-border {
  border: 2px solid red; }

#promo-shot {
  width: 100%; }

h2 .pagetitle {
  padding: 15px; }

.inner-highlight-box {
  background-color: #F27532;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin: 10px 0;
  color: #2e4756; }

.inner-highlight-box a {
  color: #2e4756; }

#text-404 {
  font-size: 330px;
  margin: 0; }

#insideimage {
  background-image: url("../images/stacksofpapers.png");
  background-repeat: no-repeat;
  background-position: center; }

.button {
  background-color: #F27532;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #2e4756;
  color: #2e4756;
  margin: 5px;
  cursor: pointer; }

.swap-container {
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-direction: column-reverse;
  /* Safari 6.1+ */
  display: flex;
  flex-direction: column-reverse; }

.swap-container p {
  margin: 0;
  padding: 0; }

.shop-item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  flex: 1; }

.shop-item div {
  flex: 1 0 auto; }

.swap-container ul {
  list-style-position: inside; }

.front {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  z-index: 2;
  margin-top: -200px; }

.back {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  z-index: 0; }

.swap-container:hover > .front, .moreinfo:active + .front {
  visibility: hidden;
  opacity: 0;
  z-index: 0; }

.swap-container:hover > .back, .moreinfo:active + .back {
  visibility: visible;
  opacity: 1;
  z-index: 2; }

.front,
.back {
  width: 100%;
  height: 200px; }

.moreinfo {
  z-index: 5; }

/*# sourceMappingURL=style.css.map */
